<div class="row">
    <div class="col">
        <div class="box text-center">
            <h2>Login page</h2>
            <div class="errors__container"></div>

            <form role="form" method="post" action="/login">
                <div class="divider-form"></div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Your email" name="email" required>
                </div>

                <div class="divider-form"></div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Your password" name="password" required>
                </div>


                <button id="btnLogin" type="submit" class="btn-block btn btn-lg btn-primary">Login</button>

                <p class="text-center">Haven't account? <a href="/signUp">Sign Up here</a></p>
            </form>
        </div>
    </div>
</div>