<div class="row">
    <div class="col">
        <div class="box text-center">
            <h2>SignUp-finish page</h2>
            <div class="signUp__success">
                <p>Your account have been approved.</p>
                <p>Now you can <a href="/login">login</a></p>
            </div>
        </div>
    </div>
</div>